
header .logo-mobile {
  width: 200px;
  margin-left: -100px;
}
@media screen and (max-width: 400px) {
  header .logo-mobile {
    width: 150px;
    margin-left: -75px;
    padding-top: 12px;
  }
}
@media screen and (max-width: 350px) {
  header .logo-mobile {
    display: none;
  }
}

header .mobile-account-options-handler .icon-note{
  color: var(--color-white);
  font-size: 24px;
  position: absolute;
  top: 38px;
  left: 50%;
  margin-left: -12px;
}
.promo-banner .icon-check {
	font-size: 58px;
	position: absolute;
	left: 50%;
	margin-left: -29px
}

.promo-banner .icon-check {
	color: #fff;
	top: 53px
}
.menu-bar {
  min-height:initial;
}
#footer-top {
  min-height: initial;
}
#footer-top .company-info .simpleicon,
#footer-top .company-info-2 .company-info-list .company-info-item .simpleicon {
	margin-right: 5px;
	color: #fff;
	font-size: 17px;
	position: relative;
	top: 2px
}

#footer-top .company-info-2 .company-info-list .company-info-item p {
	display: inline-block;
	color: #fff
}

#footer-top .company-info-2 .company-info-list .company-info-item p span {
	color: #16ffd8
}

#footer-top .link-info.company-info-2 .company-info-list a:hover {
  color: #b6c6ca;
}

.alert-box.survey {
	padding-top: 60px /* тут треба подивитись !!! */
}
.alert-box.survey p {
	margin-bottom: 24px;
}

.breadcrumbs a {
  color:#fff;
}

.banner h1 {
  margin-bottom: 5px;
}
.banner h5 {
  margin-bottom: 20px;
}

#services-v1.services-v1 {
	padding: 40px 0 10px
}

.services-v2 .head-title {
  width: initial;
}

header .account-information .icon-social-facebook, 
header .account-information .icon-social-instagram {
  font-size: 22px;
}
header .account-information a.icon-social-facebook, 
header .account-information a.icon-social-instagram {
  color: #717f82;
}
header .account-information a.icon-social-facebook:hover, 
header .account-information a.icon-social-instagram:hover {
  color: #b6c6ca;
}

#subscribe-banner .subscribe-content {
  display: flex;
  justify-content: center;
}
#subscribe-banner .subscribe-content .subscribe-form {
  float: none;
  width: initial;
}
#subscribe-banner .subscribe-content .subscribe-form .button {
  margin: 0 auto;
  border-radius: 4px;
}

@media screen and (max-width: 1260px) {
  #subscribe-banner {
    min-height: 150px;
  }
  #subscribe-banner .subscribe-content .subscribe-header {
    margin:36px 0 0;
  }
  #subscribe-banner .subscribe-content .subscribe-form {
    margin: 56px 0 0;
  }
}
@media screen and (max-width: 630px) {
  #subscribe-banner .subscribe-content .subscribe-header figure {
    /* display: initial; */
  }
}


.banner.banner-military img {
  position: absolute;
  bottom: 20px;
  max-width:100%;
  left: 50%;
  margin-left: -400px;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8));
}
@media screen and (max-width: 1260px) {
  .banner.banner-military img {
    width: initial;
    height: initial;
    bottom: 20px;
    margin-left: -400px;
  }
}
@media screen and (max-width: 800px) {
  .banner.banner-military img {
    width: initial;
    height: initial;
    bottom: 20px;
    margin-left: -50%;
  }
}
@media screen and (max-width: 460px) {
  .banner.banner-military {
    min-height: 410px;
  }
}
@media screen and (max-width: 260px) {
  .banner.banner-military {
    min-height: 468px;
  }
}


#footer-top .link-info.company-info-2 {
  width: 640px;
}
#footer-top .link-info.company-info-2 .footer-title {
  text-align: center;
}
#footer-top .link-info.company-info-2 .company-info-list {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1260px) {
  #footer-top .company-info {
    margin: 0 auto;
    float: none;
  }
  #footer-top .company-info .logo {
    margin: 0 auto 20px auto;
  }

  #footer-top .link-info.company-info-2 {
    float:none;
  }
  #footer-top .link-info.company-info-2,
  #footer-top .link-info.social-links-wrap {
    width: 100%;
    margin-right: 0;
  }
  #footer-top .link-info.company-info-2 {
    padding-top: 24px;
  }
  #footer-top .link-info.social-links-wrap {
    padding-top: 40px;
  }
  #footer-top .link-info.social-links-wrap .footer-title {
    text-align: center;
  }
  #footer-top .link-info.social-links-wrap .social-links {
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 640px) {
  #footer-top .link-info.company-info-2 .company-info-list {
    display: initial;
  }
}

.social-links-wrap .social-link .icon-social-link {
  color: #717f82;
  font-size: 22px;
  padding-right: 26px;
  padding-top: 1px;
}
.social-links-wrap .social-link .icon-social-link:hover {
  color: #b6c6ca;
}


.promo-banner-ul {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.promo-banner-ul .promo-banner-li .promo-banner-icon {
  font-size: 24px;
}
.promo-banner-ul .promo-banner-li p {
  color: #fff;
}
@media screen and (max-width: 500px) {
  .promo-banner-ul {
    flex-direction: column;
  }
  .promo-banner-ul .promo-banner-li {
    margin: 0 0 20px 0;
  }
  .promo-banner-ul .promo-banner-li .promo-banner-icon {
    margin-right: 5px;
    color: #fff;
    position: relative;
    top: 6px;
  }
  .promo-banner-ul .promo-banner-li p {
    display: inline-block;
  }
}

#scrollTopBtn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  display: none; /* спочатку ховаємо */
  background-color: #2b373a;
  color: white;
  border: none;
  /* padding: 12px 16px; */
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: opacity 0.3s, transform 0.3s;
  width: 45px;
  height: 45px;
}
#scrollTopBtn.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
#scrollTopBtn:hover {
  background-color: #38474b;
}
#scrollTopBtn img {
  transform: rotate(-90deg);
}